/* ******************************************* */
/*                    Header                   */
/*            Title, Banner Pic, Nav           */
/* ******************************************* */

.image_fam-header-bg {
  background-image: url("../../images/img-fam-header.png");
}

/* ******************************************* */
/*                 Section__1                  */
/*            Four Picture samples             */
/* ******************************************* */

@keyframes showTxt {
  0% {
    opacity: 0;
    margin-bottom: -25px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0px;
  }
}

.slideTxt {
  animation: showTxt;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contain_fam-section-1 h2 {
  font-size: 3vw;
  line-height: 3.2vw;
}

.contain_fam-section-1 p {
  margin-top: 4%;
  font-size: 1.7vw;
  line-height: 2vw;
}

/* ******************************************* */
/*                 Section__2                  */
/*            The Grow Fast Banner             */
/* ******************************************* */

.contain_fam-section-2 p {
  margin-top: 3%;
  padding-right: 6%;
  font-size: 1.7vw;
  line-height: 2vw;
}

/* ******************************************* */
/*                 Section__3                  */
/*                 TV SECTION                  */
/* ******************************************* */

.contain_fam-section-3 p {
  text-align: center;
  margin: 0 0 10px 0;
  font-size: 1.7vw;
  line-height: 2vw;
}

.contain_fam-section-3 h1 {
  margin-top: -5%;
}

.contain_fam-section-3 button {
  width: 130px;
  height: 25px;
  background-color: rgb(212, 184, 150);
  margin: 0 2px 10px 2px;
  padding-bottom: 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ******************************************* */
/*                 Section__4                  */
/*              FRAMED PICTURES                */
/* ******************************************* */

.contain_fam-section-4 h1,
.contain_fam-section-4 p {
  padding-left: 15px;
}

.contain_fam-section-4 p {
  margin-top: 3%;
  font-size: 1.7vw;
  line-height: 2vw;
}

.contain_fam-section-4 button {
  width: 180px;
  height: 40px;
  background-color: rgb(147, 118, 86);
  margin: 0px 15px 10px 15px;
  font-size: 16px;
  color: white;
}

/* ******************************************* */
/*                 Section__5                  */
/*              FAMILY PACKAGES                */
/* ******************************************* */

.contain_fam-section-5 .package-pic-right {
  margin-right: auto;
}

.contain_fam-section-5 .mountain {
  width: 30%;
}

.contain_fam-section-5 p {
  margin-top: 2%;
  font-size: 1.7vw;
  line-height: 2vw;
  margin-bottom: 0;
}

.pkg_title-box {
  width: 25vw;
  height: 5vw;
  background-color: #fefdfb;
  border: solid 0.45vw #f1f0eb;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
  margin-top: 12%;
}

.pkg_title-box h2 {
  font-size: 2.25vw;
}

.pkgs_inclusions {
  width: 100%;
  margin-bottom: auto;
}

.contain_fam-section-5 h4 {
  font-size: 1.5vw;
}

.contain_fam-section-5 h3 {
  font-size: 3vw;
  width: 100%;
}

/* ******************************************* */
/*                 Section__6                  */
/*                CONTACT FORM                 */
/* ******************************************* */

.contain_fam-section-6 h1 {
  margin-bottom: 3vw;
  color: #837448;
  font-size: 9vw;
  font-weight: 100;
  text-align: center;
  width: 100%;
}

.contain_fam-section-6 form {
  padding: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.6vw;
  line-height: 1.8vw;
}

.contain_fam-section-6 form input,
.contain_fam-section-6 form textarea {
  padding: 0px 15px;
  width: 75%;
  margin: 2px;
  background-color: #f3f3f3;
  border: unset;
  color: #c0baa6;
}

.contain_fam-section-6 form input {
  height: 3.5vw;
}

.contain_fam-section-6 form textarea {
  padding: 15px;
  height: 23vw;
}

.contain_fam-section-6 form button {
  width: 75%;
  height: 3.5vw;
  background-color: #f3f3f3;
  border: solid 2px #a38f5840;
  color: #c0baa6;
}
