/* NOTES */
/* All contents inside of each section container must be nested in a container that is positioned absolute to maintain seamless BG */

/* ******************************** */
/*            TYPOGRAPHY    				*/
/* ******************************** */

* {
  font-family: "Playfair Display", serif !important;
}

p {
  font-size: 1.15rem;
}

h1 {
  font-size: 3.4vw;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 2.1vw;
}

/* ******************************** */
/*          COLOR CLASSES    				*/
/* ******************************** */

.colorOne {
  color: #aa7363;
}

.colorTwo {
  color: #3c5764;
}

.colorThree {
  color: #837448;
}

.color_home_brown-1 {
  color: #aa9482;
}
.color_home_brown-2 {
  color: #977658;
}
.color_home_blue-1 {
  color: #96a2a7;
}

/* ******************************** */
/*       All Page Sections   				*/
/* ******************************** */

/*       Position_BG_Imgs   				*/
.section_BG img {
  display: table-row;
  width: 100%;
}
.section_BG {
  position: relative;
}

/* ******************************** */
/*         UTILITY CLASSES	        */
/* ******************************** */

.lightWeight {
  font-weight: 100;
}

/* ******************************** */
/*             HEADER     	        */
/* ******************************** */

.contain_title-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.header-bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.box_header-titles {
  margin: 4% auto 0 auto;
  text-align: center;
}

.box_header-titles h1 {
  font-family: "Playfair Display", serif;
}
.box_header-titles h1,
.box_header-titles h4 {
  font-weight: 100;
}

.box_header-titles h1 {
  font-size: 3vw;
}
.box_header-titles h4 {
  font-size: 1.8vw;
}

.arrowGraphic img {
  width: 570px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  position: absolute;
  left: 0;
  right: 0;
}
